body {
    margin: 0;
    padding: 10px;
    font-family: 'Zen Old Mincho', serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #359aec;
    margin-bottom: 4px;
}

button {
    background: #359aec;
    color: white;
    padding: 10px 20px;
    border: 1px solid #359aec;
    font-weight: bold;
}
#delete-btn{
    background: white;
    color: #359aec;
}
ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #359aec;
    font-size: 1.7em;
}